cmake_minimum_required(VERSION 3.20)
project({{ spec.name }})

set(CMAKE_CXX_STANDARD 20)

find_package(Drogon CONFIG REQUIRED)

add_executable(${PROJECT_NAME} main.cc)
target_link_libraries(${PROJECT_NAME} PRIVATE Drogon::Drogon)
